/* Main */

.App {
	text-align: center;
}

.content {
	margin-top: 150px;
}

p {
	line-height: 1.5;
}

/* Navigation */

.navbar {
	background-color: #282828 !important;
}
.navbar-brand > a:hover,
.nav-link:hover {
	color: #00aef0 !important;
}
.nav-link {
	font-size: 20px;
	color: aliceblue !important;
	margin-left: 5px;
}

/* Content */

.content > .row > .col > .btn {
	width: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dashboard {
	text-align: center;
}

/* Footer */

.footer {
	background-color: #282828;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.footer {
		position: absolute;
	}
}

.footer-links {
	text-align: center;
}
.footer-links > a {
	color: wheat;
	margin-left: 5px;
	margin-right: 5px;
}
.footer-links > a:hover {
	color: wheat;
}
